.navbar{
    background:linear-gradient(to right , rgb(78, 224, 243)60% ,rgb(255, 255, 255));
}
.nav-link{
    font-weight: bold;
    
}
.navbar-brand img{
    width: 5%;

}
.carousel-inner{
    margin-top: 10px;
}
.hr{
    width: 40%;
    height: 5px;
    background:linear-gradient( rgb(243, 78, 229) ,rgb(255, 255, 255) ,rgb(243,78,229) );
    margin: auto;
    border-radius: 50%;
    
}
body{
    height: 4000px;
}
.profileinfo img{
width: 50%;
}
.pro{
    background:linear-gradient(to right , rgb(78, 224, 243)60% ,rgb(255, 255, 255));
    width: auto;
    text-align: center;
}
.nav-tabs{
    width: 50%;
    margin: auto;
    background-color:white;
}
@media(max-width:750px){
.nav-tabs{
    width: 95%;
}

}
img{
    border: 1px solid black;
    margin: 5px;
}

.contact{
    color: black;
}
.footer{
    background-color: rgb(0, 195, 255);
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin: 60px;
    
  }
  .row  b{
      background-color: rgb(0, 195, 255)  ;

  }